@import '@/styles/variables.module.scss';

.customInputWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap2;
  padding: $gap2;
  width: 176px;
  height: 64px;
}

.input {
  width: 48px;
  height: 48px;
  font-size: 16px;
  text-align: center;
  color: $text;
  border: 2px solid $border;
  border-radius: $gap1;
}

.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.controlButton {
  width: 48px;
  height: 48px;
  font-size: 16px;
  cursor: pointer;
  color: $primary;
  font-size: 16px;
  border: 2px solid $primary;
  border-radius: $gap1;
}

.controlButtonDisabled {
  opacity: 0.7;
  color: $disabled;
  border-color: $disabled;
  cursor: not-allowed;
}
