@import '@/styles/variables.module.scss';

.roomAllocationWrap {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: $gap3;
}

.roomAllocationHeader {
  font-weight: bold;
  font-size: 1.3rem;
  color: $text;
  margin-bottom: $gap3;
}

.roomAllocationDetails {
  padding: $gap3;
  margin-bottom: $gap3;
  background-color: $primary-lighter;
  border: 2px solid $primary-lighter-border;
  color: $text;
  border-radius: $gap1;
}

.sectionWrap {
  padding-bottom: $gap3;
  margin-bottom: $gap3;
  border-style: solid;
  border-color: $border;
  border-bottom-width: 2px;
}

.sectionHeader {
  font-weight: 500;
  font-size: 1.2rem;
  color: $text;
  margin-bottom: $gap3;
}

.sectionInputArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $gap2;
}

.inputAreaLeft {
  display: flex;
  flex-direction: column;
}

.leftLabel {
  color: $text;
}

.leftSpan {
  color: $text-lighter;
}